
@{
    ViewBag.Title = "Index";

    Layout = null;
}

<div style="border: 1px solid #808080; width: 50%; display: flex; justify-content: center;  align-items: center; ">
    <form action="~/TruongNgocTuan_62132542/UseModel" method="post">
        <table>
            <td colspan="2">
                <h1>THÔNG TIN SINH VIÊN</h1>
            </td>

            </tr>
            <tr>
                <td>
                    Mã sinh viên:
                </td>
                <td> <input type="type" name="Id" value="" /> </td>
            </tr>
            <tr>
                <td>
                    Họ và tên:
                </td>
                <td> <input type="type" name="ten" value="" /> </td>
            </tr>
            <tr>
                <td>
                    Điểm:
                </td>
                <td> <input type="type" name="Marks" value="" /> </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Đăng ký" />
                </td>

            </tr>
        </table>
    </form>
</div>

