
@{
    ViewBag.Title = "Register2";
}


<div style="border: 1px solid #808080; width: 50%; display: flex; justify-content: center;  align-items: center; ">


    <table>
        <tr>
            <td><h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ (UseAction)</h2></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="2">
                Mã sinh Viên: @ViewBag.Id
            </td>

        </tr>
        <tr>
            <td colspan="2">
                Họ và tên: @ViewBag.Name
            </td>

        </tr>
        <tr>
            <td>
                Điểm: @ViewBag.Marks
            </td>
            <td><a href="~/TruongNgocTuan_62132542/Index">trở về</a></td>
        </tr>
        <tr>
            <td>

                @Html.ActionLink("trở về", null, null, null, new { onclick = "window.history.back(); return false;" })

            </td>
        </tr>

    </table>




</div>
